{% extends "base.njk" %}
{% block content %}
<h1>hola</h1>
<p>
 Haciendo mejores kebabs de Granada dese 1965.
</p>
<p>
  Disfrutaras de ingredientes de frescos y de calidad superior.
   <div style="text-align: center;">
        <img src="/comidafresca.jpeg" alt="Logo del restaurante" style="height:200px;">
    </div>
</p>
{% endblock %}