{% extends "base.njk" %}
{% block content %}
<h1>Bienvenido</h1>
<p>
 Haciendo mejores kebabs de Granada dese 1965.
</p>
<p>
 No hay competencia, no hay conpeticion, falafel casero.
</p>

<p>
  Disfrutaras de ingredientes de frescos y de calidad superior.
   <div style="text-align: center;">
        <img src="/comidafresca.jpeg" alt="Comida fresca" style="height:200px;">
    </div>
</p>
<p>
 Los mejores del gremio, estamos abiertos 24/7 y tenemos maquina de tabaco
</p>
<p>
 Disponemos tambien de una television de ultima genaricion y una barra 
</p>
<p>
donde podras tomar una cerveza entres nuestros selectos clientes
</p>
<p>
  <div style="text-align: center;">
        <img src="/interior.jpg" alt="Comida fresca" style="height:200px;">
    </div>
</p>
<p>
Ademas contamos con los mejores cocineros de la zona
</p>
<p>
  <div style="text-align: center;">
        <img src="/señores.jpg" alt="señores" style="height:200px;">
    </div>
</p>


{% endblock %}