{% extends "base.njk" %}
{% block content %}
<h1>hola</h1>
<p>
 Los mejores kebabs de Granada dese 1965.
 Visitanos y disfrutaras de ingredientes de frescos y de calidad superior.
 
</p>
{% endblock %}