<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    
    <link rel="stylesheet" href="/styles.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    
    <header>
        <nav>
            <a href="/aboutus">Sobre nosotros</a>
            <a href="/">Menú</a>
            <a href="/map">Donde encontrarnos</a>
        </nav>

        <div style="text-align: center;">
            <img src="/logo.jpg" alt="Logo del restaurante" style="height:300px;">
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>