{% extends "base.njk" %}
{% block content %}
<h1>Menú del Restaurante</h1>
{% for categoria in menu %}
  <h2>{{ categoria.categoria }}</h2>
  <ul>
    {% for plato in categoria.platos %}
      <li>
        <strong>{{ plato.nombre }}</strong>
        {% if plato.descripcion %}- {{ plato.descripcion }}{% endif %}
        - {{ plato.precio }}€
      </li>
    {% endfor %}
  </ul>
{% endfor %}
{% endblock %}