{% extends "base.njk" %}
{% block content %}
<div class="menuBox">
  <h1>Menú</h1>
  {% for categoria in menu %}
    <h2>{{ categoria.categoria }}</h2>
    <ul>
      {% for plato in categoria.platos %}
        <li class="plato-item">
          <span class="plato-nombre">{{ plato.nombre }}</span>
          <span class="plato-descripcion">{{ plato.descripcion }}</span>
          <span class="plato-precio">{{ plato.precio }}€</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
{% endblock %}