/* Visual de la navbar */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}
nav a:hover {
    color: #606366;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #333; 
    border-radius: 10px;    
    padding: 10px 0;        
    background: #ffffff;
}

/* Visual del mapa */
#map {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}

/* Alinea textos */

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

/* Visual del menu */
ul {
    list-style: none;
    padding: 0;
    width: 600px;      
    margin: 0 auto 10px auto;    
}

ul li {
    margin-bottom: 8px;
   
}

.plato-item {
    display: grid;
    grid-template-columns: 180px 1fr 80px; /* nombre, descripción, precio */
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.plato-nombre {
    font-weight: bold;
}

.plato-descripcion {
    color: #000000;
}

.plato-precio {
    text-align: right;
    font-weight: bold;
}

main {
    margin-bottom: 120px;
}

/* Visual del recuadro del menú */
.menuBox {
    border: 2px solid #333;
    border-radius: 12px;
    background: #fff;
    padding: 32px 24px;
    width: 700px;
    margin: 32px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}